node_modules
database/*.db
config/*.local.json
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
uploads
thumbnails
client/node_modules
client/build
logs/*.log
logs/*.jsonl
transcodes/
movies/*.mkv
movies/*.mp4
movies/*.avi
uploads/thumbnails/*
thumbnails/*
